input:read-only,
button:disabled,
.button-disabled {
  padding: 0.5rem;
  font-size: 1em;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-color: #dcd8c0;
  color: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  color: #454138;
}


a input:read-only {
  cursor: pointer;
}

h1 {
  letter-spacing: 1px;
  font-size: 400%;
  margin: 0;
}

h2 {
  font-size: 200%;
  margin: 0;
}

li {
  font-size: 100%;
}

figcaption {
  font-size: 150%;
}

a {
  text-decoration: none;
}

.optionbutton {
  background-color: #BAB5A1;
  color: #272727;
  width: 15vw;
  font-size: 150%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.optionbutton:hover {
  color: #BAB5A1;
  background-color: #272727;
}

.postbutton {
  background-color: #DCD8C0;
  color: #272727;
  width: 30vw;
  height: fit-content;
  font-size: 150%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.postbutton:hover {
  color: #DCD8C0;
  background-color: #272727;
}

.bloghome-flex blockquote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}