body {
    margin: 0;
    overflow: hidden;
}

.main-wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0px;
    grid-template-rows: 1fr;
    height: 100vh;
}

.main-disco {
    width: 30vw;
    height: 100vh;
    top: 0;
    left: 70vw;
    position:fixed
}

.main-yorha {
    height: 100vh;
    overflow: scroll;
    grid-row: 1;
    padding-left: 1.5%;
    padding-right: 1%;
    padding-top: 5%;
    margin: 0;

    font-size: small;
}


@media (min-width: 768px) {
    .main-yorha {
        font-size: medium;
    }
}
@media (min-width: 992px) {
    .main-yorha {
        font-size: large;
    }
}
@media (min-width: 1200px) {
    .main-yorha {
        font-size: x-large;
    }
}

@media (min-aspect-ratio: 1/1) {
    .main-disco {
        display: block;
    }

    .main-yorha {
        grid-column: 1 / 8;
        width: inherit;
    }
}

@media (max-aspect-ratio: 1/1) {
    .main-disco {
        display: none;
    }

    .main-yorha {
        grid-column: 1 / 11;
        width: inherit;
    }
}

.aboutme-flex {
    display: flex;
    gap: 0px;
    flex-direction: column;
}