html, body {
    height: 100%
}

.disco-wrapper {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 0px;
    grid-template-rows: 1fr;
    height: inherit;
    width: inherit;
    opacity: 0.98;
}

.disco-main{
    grid-column: 2 / 24;
    grid-row: 1;
    height: 80vh;

    background-color: #272727;

    padding-left: 3vw;
    padding-right: 2vw;
    padding-top: 10vh;
    padding-bottom: 10vh;

    font-size: small;

    overflow: hidden;
}

.disco-dialogue {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2vh;
    overflow: scroll;
}

@media (min-width: 768px) {
    .disco-main {
        font-size: medium;
    }
}
@media (min-width: 992px) {
    .disco-main {
        font-size: large;
    }
}
@media (min-width: 1200px) {
    .disco-main {
        font-size: x-large;
    }
}

.disco-outline {
    background-color: #939393;
    height: 100%;
}

.disco-outline .left {
    grid-column: 1;
    grid-row: 1;
    background-color: inherit;
    height: inherit;
}

.disco-outline .right {
    grid-column: 24;
    grid-row: 1;
    background-color: inherit;
    height: inherit;
}

.say-div {
    padding-left: 6%;
    width: 94%;
    justify-content: end;
}

.question-div {
    padding-left: 6%;
    width: 94%;
    justify-content: end;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.say {
    width: 100%;
    height: fit-content;
    color: #C5C9B5;
}

.question {
    color: #CD4729;
}

.normal-q {
    width: 100%;
    height: fit-content;
    font-weight: 900;
    color: #CD4729;
}

.normal-q:hover {
    color: white;
}

.red-try {
    background-color: #CD4729;
    color: black;
    font-weight: 900;
    margin-left: -1.5vw;
    padding-left: 1.5vw;
}

.red-try .speaker {
    color: black;
}

.red-try:hover {
    color: white;
}

.white-try {
    background-color: #AAAAAA;
    color: black;
    font-weight: 900;
    margin-left: -1.5vw;
    padding-left: 1.5vw;
}

.white-try:hover {
    color: white;
}

.speaker {
    margin-left: -1vw;
    font-weight: bold;
    color: white;
}

.intellect {
    color: #47A7FF !important;
}

.psyche {
    color: #7C47BF !important;
}

.physique {
    color: #C6496B !important;
}

.motorics {
    color: #E4B934 !important;
}

.say-level {
    color: #505050;
}

.past {
    opacity: 0.5;
}

div .disco-block-btn {
    background-color: #CD4729;
    color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 3vw;
    font-weight: 900;
    margin-left: -1vw;
}

/* to remove underline in buttons */
.disco-dialogue a {
    text-decoration: none;
}